@-moz-document domain(github.com) {
	.Header {
		/* source: https://www.pixiv.net/member_illust.php?mode=medium&illust_id=66385385 */
		background: #FFFFFF url(https://user-images.githubusercontent.com/9370547/42454349-db0179ca-83c1-11e8-8ca3-1962007d9e66.png) no-repeat scroll 0px -43px;
		background-size: 100% auto;
	}
	.numbers-summary>li, .js-recent-activity-container li.d-flex, .news div:not(.js-recent-activity-container) .Box, .pinned-repo-item, .issues-listing .Box-row, #notification-center .notifications-list .js-notification, .files tr {
		transition: .1s ease;
	}
	.numbers-summary>li:hover, .js-recent-activity-container li.d-flex:hover, .news div:not(.js-recent-activity-container) .Box:hover, .pinned-repo-item:hover, .issues-listing .Box-row:hover, #notification-center .notifications-list .js-notification:hover, .files tr:hover {
		background-color: #fff9cb !important;
	}
	.js-recent-activity-container .Box-row:first-of-type {
		border-top-color: rgb(209, 213, 218);
	}
	.reponav-item {
		transition: .1s ease;
	}
	.reponav-item:not(.selected):hover {
		background-color: lightgray;
	}
}
