@-moz-document domain(greasyfork.org) {
	body, #Frame, .FilterMenu>.Active>a, .list-option.list-current {
		background-color: #212121 !important;
		background: #212121 !important;
	}
	#Panel ul>li>a:hover, .list-option a:hover {
		background: #212121 !important;
		box-shadow: none !important;
	}
	body>div.width-constraint, .script-list, #script-info, .list-option-group>ul, .list-option, #user-profile, code, .text-content, .script-author-description, #Panel, #Panel>*, #Panel>*>*, #Content, .user-list, :target, .external-login-form, #new_user, .editor-file-preview {
		background: #464646 !important;
		background-color: #464646 !important;
	}
	body>div.width-constraint {
		padding: 20px;
	}
	#main-header {
		background-color: #98FFFF;
	}
	*, .DiscussionForm label {
		color: #eaeaea;
	}
	a, .MeMenu *, .BoxNewDiscussion a.Primary {
		color: #98FFFF !important;
	}
	a:visited {
		color: #5BDEDE !important;
	}
	header *, header *:visited, .Head *, .Head *:visited, #install-area a, form.new_user input[type="submit"] {
		color: #FFFFFF !important;
	}
	.notice, select, select>option, select[name=locale], select[name=locale]>option, input, textarea, button, .Button, .CodeRay .code pre {
		color: #000000 !important;
	}
	.PageControls a, .pagination a[href] {
		background-color: #0D1A1A;
	}
	.PageControls a:hover, .pagination a[href]:hover {
		background-color: #1D3A3A;
	}
	#main-header, #Head {
		padding: 15px !important;
	}
	.Item.Read {
		background-color: #212121;
	}
	.HasNew {
		background-color: #0000FF;
	}
	#script-meta>div>span {
		color: #98FFFF !important;
		background-color: #464646;
	}
	#script-content canvas {
		background-color: darkgray;
	}
	pangu {
		opacity: 0;
	}
}
